
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.37);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(A350.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: 1250px;
}

.column {
    column-count: 2;
    column-gap: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a{
    font-size: 15px;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #133d86;
    margin: 0px 2px 20px 2px ;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #0062ff;
    transform: scale(1.1); 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.39);
    color: white;
    text-align: center;
    padding: 5px 0;
}


/* styled for mobile screens */
@media (max-width: 500px) {


    .column {
        column-count: 3;
        column-gap: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #0000005f;
        color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(wpp.jpg);
        background-position: auto;
        background-size: cover;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items:center;
    }

    .links {
        display: flex;
    }

    a{
        width: 70%;
        font-size: 11px;
        padding: 10px 10px;
        margin: 0px 0px 15px 22px;
        border-radius: 14px;
    }

    footer {
        font-size: 12px;
    }
}
